h1 {
  color: #38bdf8;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 6px;
  margin: 30px 0 15px;
  letter-spacing: 1px;
}
.products-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 10px;
}
.product-card {
  border: 1px solid #334155;
  border-radius: 16px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px) scale(1.02);
  border-color: #38bdf8;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
}
.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #334155;
  margin-bottom: 10px;
}

.product-card p {
  margin: 6px 0;
  font-size: 15px;
}

.highlight {
  background-color: #38bdf8;
  color: #0f172a;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 8px;
  width: fit-content;
  margin-top: 8px;
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.7);
}
button {
  background: #0f172a;
  color: #f8fafc;
  border: 1px solid #38bdf8;
  padding: 6px 10px;
  border-radius: 8px;
  margin: 5px 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:hover {
  background: #38bdf8;
  color: #0f172a;
  transform: scale(1.05);
}
input[type="text"] {
  background: #1e293b;
  border: 1px solid #38bdf8;
  color: #f8fafc;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 10px 0 20px;
  width: 300px;
  outline: none;
  transition: 0.2s;
}

input[type="text"]:focus {
  border-color: #7dd3fc;
  box-shadow: 0 0 6px #38bdf8;
}
.rating {
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}
